/* ---------------- CATEGORY ---------------- */

.category{
    background: var(--brand-dark);
    padding:12px;
}

/* Swiper wrapper */
.category-container {
    display: flex;
    align-items: center;
    background-color: var(--brand-dark);
    /* padding: 10px 20px; */
}

.cat {
    color: white;
    margin: 0 15px;
    white-space: nowrap;
}

.category {
    flex: 1;
}

.category .swiper-wrapper{
    display:flex;
    align-items:center;
}

/* Important */

.category .swiper-slide{
    width:auto;
}

/* Links */

.category-link{

    display:block;

    padding:8px 18px;

    color:white;

    text-decoration:none;

    white-space:nowrap;

    font-weight:500;

    transition:.3s;
}

.category-link:hover{

    background: black;

    color:white;
}

.category-link.active{
    background: var(--brand-gray-light);
    color: var(--brand-black);
}


/* ---------------- PRODUCT CARD ---------------- */

.card-img-top{

    height:250px;

    object-fit:cover;

    padding:5px;
}

.card-body p{

    font-weight:500;
}

.card-body .btn-primary{

    background: #e63946;

    border:none;
}

.card-body .btn-primary:hover{

    background: var(--brand-dark);
}

/* ---------------- PAGINATION ICONS ---------------- */

.pagination .page-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .page-link .material-symbols-rounded{
    font-size: 20px;
    line-height: 1;
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 20;
}